html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
  color: #002699;
  overflow-x: hidden;
  overflow-y: hidden;
}
h1,h2,h3,h4 {
    line-height: 115%;
}
::-webkit-scrollbar{
	width: 5px;
  height: 5px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
  box-shadow:  inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #002699;
}


/*#####################*/
/* Configuracion flex */
.flex-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  height: 100%;
  overflow-y: auto;
}
.flex-item {
  display: flex;
  display: -webkit-flex;
}
#contenido #izq {
  flex: 1 1 20%;
  webkit-flex: 1 1 20%;
  background-color: #f2f2f2;
  margin-bottom: 1px;
  overflow-y: auto;
  }
#contenido #dch {
  flex: 1 1 80%;
  -webkit-flex: 1 1 80%;
  max-width: 100%;
  text-align: justify;
  flex-wrap: wrap;
  overflow-y: auto;
}

/*#####################*/
/* Fondo negro edicion*/
.fondo-negro {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#mensaje-usuario {
  display: none;
  position: absolute;
  height: 230px;
  width: 300px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border: 1px solid black;
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}
/*##############################*/
/* Formulario login de usuario */
#login-usuario {
  display: none;
  position: absolute;
  height: 250px;
  width: 300px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border: 1px solid black;
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}
#login-usuario #login-form {
  padding: 15px;
}
#login-usuario #login-form #loginUsuario{
  border-top: 1px solid #002699;
}
#login-usuario #login-form input {
  border: none;
  border-left: 3px solid #002699;
  margin: 10px auto;
  transition: border-color .5s ease-in-out;
}
#login-usuario #login-form input:focus {
  border-color: red;
}
#login-usuario #login-form button {
  margin: 5px auto;
}
#login-usuario #login-form #recordarPwd {
  cursor: pointer;
  margin: 5px auto;
}
#login-usuario #login-form #recordar {
  display: none;
  border-top: 1px solid #002699;
  min-height: 100%;
}

.eye {
  height: 17px;
  cursor: pointer;
}

/*##########################*/
/* Formato formularios */
select {
  border-radius: 5px;
  border: 1px solid #002699;
  transition: border 0.5s ease-in-out;
}
select:hover, select:focus {
  border: 1px solid red;
}

/*##########################*/
/* Formato listas desordenadas */
.list-conf{
    list-style-type: disc !important;
}
.list-conf li{
    margin-left: 35px;
}


/*##########################*/
/* Indice y contenidos general */
.indiceGeneral {
  margin: 20px auto;
  width: max-content;
  max-width: 80% !important;
}
.indiceGeneral h2 {
  margin: 30px auto 10px;
}
.indiceGeneral li a {
  text-decoration: none;
}


/*##################*/
/* Formato botones */
button {
  width: max-content;
  border: 1px solid grey;
  border-radius: 5px;
  background: #002699;
  color: #f2f2f2;
  cursor: pointer;
  transition: background .5s ease-in-out, color .5s ease-in-out;
  webkit-transition: background .5s ease-in-out, color .5s ease-in-out;
}
button:hover {
  background: #f2f2f2;
  color: #002699;
}
button:active {
  background-color: red;
  color: black;
}
#botonLoginDisabled {
  border: 1px solid grey !important;
  border-radius: 5px !important;
  background: lightgrey !important;
  color: darkgrey !important;
  cursor: not-allowed !important;
}
#botonInicio {
  margin: 10px auto;
}

/*#################*/
/* Menu izquierda */
#contenido #izq #container {
  padding: 5px;
}
#contenido #izq #container #cabecera {
  text-align: center;
}
#contenido #izq #container #cabecera a {
  text-decoration: none;
}
#contenido #izq #container #cabecera p {
  text-decoration: underline;
}
#contenido #izq #container #cabecera #cabeceralogo {
  width: 50px;
  display: inline;
  vertical-align: bottom;
  margin-bottom: -12px;
  opacity: 0.7;
  width: 40px;
  margin-bottom: 0px;
}
/* Texto bienvenida */
#bienvenido {
  color: grey !important;
  font-size: 12px !important;
  text-decoration: none !important;
  margin: 10px auto;
}
/* Iconos menu */
#contenido #izq #container #indice-iconos {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-aroundr;
  height: 21px;
  margin: 10px auto;
}
#contenido #izq #container #indice-iconos a {
  align-self: flex-start;
  border-radius: 5px;
}
#contenido #izq #container #indice-iconos img {
  height: 20px;
  margin: auto 2px;
  vertical-align: bottom;
  padding: 3px 3px;
  border-radius: 5px;
}
/* Casilla buscar */
#buscarIcon {
  cursor: pointer;
}
#buscaPatron {
  display: none;
  text-align: center;
}
#buscaPatron input {
  width: 93%;
  max-width: 93%;
  border: 1px solid #002699;
  border-radius: 5px;
  transition: border .5s ease-in-out;
}
#buscaPatron input:focus {
  border: 1px solid red;
}

/* Indice de contenidos*/
#contenido #izq #container nav {
  margin: 15px auto;
}
#contenido #izq #container nav h4 {
  border-top: 2px solid lightgrey;
  padding: 5px;
}
/* Contenidos */
.contenidos {
  margin: 5px auto 5px 10px;
  padding: 3px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #002699;
  max-width: 100%;
}
.contenidos a {
  max-width: 100%;
}
.enlaceContenido, .expande {
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: max-content;
  border-radius: 5px;
  transition: background-color .5s ease-in-out, color .5s ease-in-out;
}
.enlaceContenido:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #002699;
  color: #F2F2F2;
  border-radius: 5px;
  padding: 0px 5px;
  transition: background-color .5s ease-in-out, color .5s ease-in-out;
}
.enlaceContenidoActivo {
  text-decoration: none;
  cursor: pointer;
  background-color: #002699;
  color: #F2F2F2;
  border-radius: 5px;
  padding: 0px 5px;
}
.editor {
  display: none;
  border-bottom: 1px solid lightgrey !important;
  padding-bottom: 5px;
}
.cabeceraContenido * {
  display: inline;
  margin-right: 10px;
}
.cabeceraContenido img {
  vertical-align: bottom;
}
#editaContenido {
  height: 20px;
  cursor: pointer;
}


/*####################*/
/* Contenido derecha */
#contenido #dch #container {
  margin: 10px 5px;
  line-height: 150%;
  /*overflow: auto;*/
  width: 100%;
}
#contenido #dch #container h1 {
  text-align: center;
  text-decoration: underline;
  margin: 10px auto;
}

/* Formulario configuracion */
.conf-flex-container{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}
#conf-contenido #conf-cabecera{
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  overflow-y: hidden;
  margin-bottom: 20px;
  max-height: 50px;
}
#expandeInfo{
  margin: 5px auto 15px;
  padding: 1px;
  border: 1px solid grey;
  border-radius: 5px;
  background: #002699;
  color: #f2f2f2;
  cursor: pointer;
  transition: background .5s ease-in-out, color .5s ease-in-out;
  webkit-transition: background .5s ease-in-out, color .5s ease-in-out;
}
#expandeInfo:hover {
  background: #f2f2f2;
  color: #002699;
}
#conf-contenido #conf-config{
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  overflow-y: scroll;
}
#contenido #dch #container #form-conf,
#contenido #dch #container #form-confuser {
  margin: 7px auto;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  max-width: 340px;
}
#conf-info{
  width: 15px;
  vertical-align: inherit;
}
#contenido #dch #container input {
  border: none;
  border-left: 3px solid #002699;
  margin: 10px auto;
  transition: border-color .5s ease-in-out;
  max-width: 100%;
  padding: 1px 0;
}
#contenido #dch #container input:focus {
  border-color: red;
}
.input-buscar{
  border-bottom: 1px solid #002699 !important;
  width: 130px;
}
#conf-contenido span{
  color: red;
  vertical-align: middle;
}
#logo-personalizado,
#favicon,
#conf-emailcredenciales {
  padding: 3px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
#conf-contenido #conf-config #conflogo,
#conf-contenido #conf-config #defaultlogo,
#conf-contenido #conf-config #faviconlogo{
  opacity: 0.4;
  width: 40px;
  padding: 3px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

/* resultado procesado datos configuracion */
.resultado-ok {
  background-color: green;
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.resultado-ko {
  background-color: #ff4d4d;
  padding: 3px;
  border-radius: 5px;
  font-weight: bold;
}
#conf-procesado {
  margin: 10px auto;
}
/* Tablas */
#conf-tab-res,
#user-tab-res {
    margin: 20px auto;
    border-collapse: collapse;
    width: 95%;
}
#conf-tab-res td,
#conf-tab-res th {
    border: 1px solid grey;
    text-align: left;
    padding: 5px;
}
#conf-tab-res tr:nth-child(even) {
    background-color: #dddddd;
}
#opciones-usuario *{
  margin-right: 10px;
}
/*#############################*/
/* Usuarios y seccion incide/contenidos */
/* resultado */
#opciones-usuario * {
    display: inline;
}
#patron_busqueda span{
    background-color: #002699;
    border-radius: 5px;
    color: white;
    padding: 3px;
    cursor: pointer;
}
.div-resultado {
    display: none;
    margin: 10px auto;
    width: max-content;
    max-width: 500px;
    border-radius: 5px;
}
.div-resultado-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.div-resultado-container p {
  margin-left: 10px;
  display: inline;
}
/* Boton cerrar div emergente */
.div-resultado-cerrar, .div-resultado-cerrar-filtro-log {
  height: max-content;
  cursor: pointer;
  right: 10px;
  padding: 3px;
  margin: 0px 8px;
  font-weight: bold;
  font-size: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  color: #002699;
  vertical-align: middle;
  transition: border-color 0.5 ease-in-out, background-color 0.5 ease-in-out;
}
.div-resultado-cerrar:hover, .div-resultado-cerrar-filtro-log:hover {
    border-color: red;
    background-color: #ffb3b3;
    transition: border-color 0.5 ease-in-out, background-color 0.5 ease-in-out;
}
.user-mng-icon {
  height: 21px;
  cursor: pointer;
}
#notallowed-usuario {
    cursor: not-allowed;
}
/* Usuarios */
#user-tab-res {
  table-layout: auto;
}
#user-tab-res th a {
  cursor: pointer;
}
#user-tab-res tr {
  border-bottom: 1px solid grey;
}
#user-tab-res tr:nth-child(even){
  background-color: #dddddd;
}
#user-tab-res td,
#user-tab-res th {
  padding: 3px;
  text-align: center;
  vertical-align: middle;
}
#usuarios {
  width: auto;
}
.usuario-activo {
  margin: auto;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  background-color: green;
  cursor: pointer;
}
.usuario-inactivo {
  margin: auto;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  background-color: red;
  cursor: pointer;
}
/* Usuarios / IndiceContenido edicion*/
.form-oculto {
  display: none;
  position: absolute;
  width: max-content;
  width: -moz-max-content;
  width: -webkit-max-content;
  max-height: max-content !important;
  max-height: -moz-max-content !important;
  height: -webkit-max-content !important;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  border: 1px solid black;
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}
.form-oculto-container {
  padding: 15px;
}
.form-oculto-container h4 {
  margin: 10px auto;
  text-align: center;
}
.form-oculto-container form {
  border-top: 1px solid #002699;
}
/*#############################*/
/* Contenido habilita cookies*/
#habilitacookies {
  margin: 20px;
  text-align: justify;
}
#habilitacookies h1 {
  text-align: center;
  text-decoration: underline;
}
#habilitacookies a {
  text-decoration: none;
}
#habilitacookies a:hover{
  color: red;
}
.link{
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}


/*###################*/
/* Politica cookies */
.mensaje-politica-cookies{
  display: none;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
	color:#fff;
	z-index:99999;
}
.mensaje-politica-cookies a.cookie-info{
  padding-left:5px;
  text-decoration: none;
  color:#faff00;
}
.mensaje-politica-cookies a.cookie-ok{
  padding:4px;
  color:#00ff2e;
  text-decoration:none;
  cursor: pointer;
}
/* texto cookies */
.politica-cookies {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}
.contenido-politica-cookies {
  padding: 5px;
  flex: 1 1 90%;
  webkit-flex: 1 1 90%;
  overflow-y: auto;
}
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red !important;
    color: white !important;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    opacity: 0.7;
}
#topBtn:hover{
  background-color: #555 !important;
}
.enlacescookies a{
  text-decoration: none;
  color: #002699 !important;
}


/*###################*/
/* Indice y contenidos */
#gestion-indice-contenido {
  margin: 20px;
  height: max-content !important;
}
#gestion-indice{
  flex: 1 1 50%;
  webkit-flex: 1 1 auto;
  background-color: #f2f2f2;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
}
#gestion-contenidos {
  flex: 1 1 50%;
  webkit-flex: 1 1 auto;
  background-color: #f2f2f2;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
}
.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sortable li {
    display: block;
    margin: 10px;
    padding: 0.1em 1.5em;
    font-size: 1em;
    height: max-content;
    border-radius: 5px;
    border-color: #002699;
    color: #002699 !important;
    font-weight: bold;
    background-color: #d9d9d9;
}
.sortable .habilita {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px !important;
}
.sortable li span {
    position: relative;
    margin-left: -1.3em;
    vertical-align: middle;
    top: 1px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.sortable li span:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.sortable img {
    height: 15px;
    vertical-align: middle;
    margin-left: 5px !important;
    cursor: pointer;
}

#casillanuevoindice {
    margin-left: 0px !important;
}

/*###################*/
/* Contenido y editor */
/* Editor tiny */
.editor {
  width: 95%;
  margin: 20px auto;
}

/* Cabecera contenido */
#cabeceraContenido {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}
#muestraContenido {
  margin: 15px auto 5px;
}

/*###################*/
/* Logs y Filtrado logs */
/*###################*/
#filtradoLogs {
  margin: 10px 0px;
  background-color: #F5F5F5;
  padding: 10px;
  max-width: max-content;
  border-radius: 5px;
  border: 1px solid #002699;
}
#filtradoLogs * {
  display: inline;
}

#logs {
  width: 99%;
  max-width: 99%;
  overflow: auto;
}
#logsTabla {
  margin: 20px auto;
  width: 100%;
  max-width: 100%;
}
#logsTabla th {
  text-align: center;
}
#logsTabla tr:nth-child(even) {
    background-color: #dddddd;
}

#logsComparaEnlace{
  cursor: pointer;
  text-align: center;
}



#logsComparaOculto {
  visibility: hidden;
  position: absolute;
  z-index: 9999999;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  max-width: 100%;
  transition: visibility .5s ease-in-out;
  background-color: #ddd;
  padding: 5px;
  border-radius: 5px;
}
#logsComparaOculto button {
  margin-bottom: 5px;
}
#logsCompara {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  height: 90%;
  max-height: 90%;
}
#logsCompara #logsComparaAntiguo,
#logsCompara #logsComparaNuevo {
  -webkit-flex-shrink: 0; /* Safari 6.1+ */
  -webkit-flex-basis: 45%; /* Safari 6.1+ */
  flex-shrink: 1;
  flex-basis: 50%;
  background-color: lightgrey;
  border: 1px solid #002699;
  color: black;
  overflow: auto;
  padding: 5px;
}
.separador{
  width: 5px;
}
#filtradoLogsActivo {
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
  margin: 5px auto;
  width: max-content;
  max-width: 90%;
}

.responsiveLogs {
  text-align: center;
}

/*###################*/
/*###################*/
/* Responsive design */
/*###################*/
/* Boton para mostrar u ocultar menu lateral izquierdo */
#muestraMenuIzq, #muestraMenuIzqOculta {
  float: left;
  margin: auto 10px auto 0;
  display: none;
  cursor: pointer;
  height: 20px;
  opacity: 0.5;
}


/******************************/
/* Resultados de la busqueda */
#resultadoBusqueda {
  margin: 10px 5px;
}
#enlaceBusqueda {
  padding: 3px;
  background-color: green;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  width: max-content;
  max-width: max-content;
  cursor: pointer;
}

@media (max-width: 750px){
    #izq {
        display: none;
        position: absolute !important;
        height: 100%;
        width: 50%;
        z-index: 999;
        max-width: 50%;
    }
    #dch {

    }
    #muestraMenuIzq, #muestraMenuIzqOculta {
      display: inline-block !important;
    }
    .cabeceraContenido p {
      display: block;

    }
    #contenido #dch #container {
      max-width: 100%;
      overflow-x: hidden;
    }

    #contenido #dch #container #form-conf,
    #contenido #dch #container #form-confuser {
      max-width: 80%;
    }

    #filtradoLogs *{
      display: block;
    }
    .responsiveLogs {
      display: none;
    }
}
